@import '@nebular/theme/styles/theming';
@import '@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme(
	(
		// add your variables here like:
		// color-bg: #4ca6ff,
		header-padding: 1rem,
		header-height: 4rem,
		layout-padding: 1rem,
		layout-medium-padding: 1rem,
		layout-small-padding: 1rem,
		footer-padding: 1rem
	),
	default,
	default
);
